<h1 align="center">
    <strong>{{ project_name }}</strong>
</h1>
<p align="center">
    <a href="https://github.com/{{ github }}/{{ project_slug }}" target="_blank">
        <img src="https://img.shields.io/github/last-commit/{{ github }}/{{ project_slug }}" alt="Latest Commit">
    <a href="https://pypi.org/project/{{ project_slug }}" target="_blank">
        <img src="https://img.shields.io/pypi/v/{{ project_slug }}" alt="Package version">
    </a>
    <img src="https://img.shields.io/pypi/pyversions/{{ project_slug }}">
    <img src="https://img.shields.io/github/license/{{ github }}/{{ project_slug }}">
</p>

{{ description }}

## Installation

```bash
pip install {{ project_slug }}
```

## License

This project is licensed under the terms of the MIT license.
